<h1>Random todos from all users</h1>

<ul id='todo-list' class='todo-list list-group'>
  <% if @todos.present? %>
    <% @todos.each do |todo| %>
      <li id='<%= dom_id(todo) %>' class='list-group-item'>
        <span class='todo-item-description' style='<%= "text-decoration: line-through" if todo.complete? %>'>
          <%= todo.description %>
        </span>
        <h6>
          <time datetime="<%= todo.created_at.to_date.to_s %>">
            created <%= time_ago_in_words(todo.created_at) %> ago
          </time>

          <br />

          <% if todo.complete? %>
            <time datetime="<%= todo.updated_at.to_date.to_s %>">
              completed <%= time_ago_in_words(todo.updated_at) %> ago
            </time>
          <% end %>
        </h6>
      </li>
    <% end %>
  <% else %>
    <ul class='todo-list list-group'>
      <li class='list-group-item'>
        <span class='todo-item-description'>
          Nobody has written a todo! Sign in and be the first.
        </span>
      </li>
    </ul>
  <% end %>
</ul>
