<li id='<%= dom_id(todo) %>' class='list-group-item'>
  <input
    type='checkbox'
    class='todo-item-checkbox'
    <%= 'checked' if todo.complete? %>
    data-destroy-url='<%= url_for(todo) %>'
  />
  <span class='todo-item-description' style='<%= "text-decoration: line-through" if todo.complete? %>'>
    <%= todo.description %>
  </span>
  <%= link_to todo, method: :delete, remote: true do %>
    <span class='glyphicon glyphicon-remove pull-right'></span>
  <% end %>
</li>
