<li id='<%= dom_id(todo) %>' class='list-group-item'>
  <input
    type='checkbox'
    class='todo-item-checkbox'
    <%= 'checked' if todo.complete? %>
    data-todo-url='<%= url_for(todo) %>'
  />
  <span class='todo-item-description' style='<%= "text-decoration: line-through" if todo.complete? %>'>
    <%= todo.description %>
  </span>
  <%= link_to todo, method: :delete, remote: true do %>
    <span class='glyphicon glyphicon-remove pull-right'></span>
  <% end %>

  <h6>
    <time datetime="<%= todo.created_at.to_date.to_s %>">
      created <%= time_ago_in_words(todo.created_at) %> ago
    </time>

    <br />

    <% if todo.complete? %>
      <time datetime="<%= todo.updated_at.to_date.to_s %>">
        completed <%= time_ago_in_words(todo.updated_at) %> ago
      </time>
    <% end %>
  </h6>
</li>
